* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #444
}

/* body {
	background-color: #;
} */

.container {
	margin: 0 auto;
	width: 800px;

}

h1, h2, h3 {
	color: #088fa3;
}

h1 {
	/* text-align: center; */
	font-size: 26px;
	text-transform: uppercase;
	font-style: italic;
}

h2 {
	margin-bottom: 30px;
	font-size: 40px;
}

h3 {
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 30px;
}

h4 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
p {
	margin-bottom: 15px;
	font-size: 22px;
	line-height: 1.5;
}
ul , ol {
	margin-left: 50px;
	margin-bottom: 20px;
}
li {
	margin-bottom: 10px;
	font-size: 20px;
	/* display:inline; */
}

li:last-child {
	margin-bottom: 0;
}

.author {
    font-style: italic;
    font-size: 18px;
}

.copyright {
	margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related{
    list-style: none;
}

.main-header {
	margin-bottom: 60px;
	padding: 20px 40px;
	background-color: #f7f7f7;
	/* height: 80px; */
}

.post-header {
	margin-bottom: 40px;
}
article {
	margin-bottom: 60px;
}
aside {
	padding: 50px 0;
	background-color: #f7f7f7;
	border-top: 5px solid #088fa3;
	border-bottom: 5px solid #088fa3;
	width: 500px;
}

/* li:first-child {
	font-weight: bold;
}

li:last-child {
	font-style: italic;
}

li:nth-child(odd){
	color:red;
}

li:nth-child(even){
	color:blue;
} */

/* article p:first-of-type {
	color:red;
} */

a {
	color: #088fa3;
	text-decoration: none;
}

a:hover {
	color: orangered;
	font-weight: bold;
	text-decoration: underline solid orangered;
}
a:active {
	background-color: #333;
	font-style: italic;
} 
.post-img {
	height: auto;
	width: 100%;
}

nav a:link {
	/* background-color: orangered;
	margin: 20px;
	padding: 20px;
	display: block; */
}

